* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    counter-reset: position-list;
}

.wrapper-home {
    max-width: 600px;
    padding: 50px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
}

input {
    font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding-left: 5px;
}

/*** 
    Home 
***/
.label {
    margin: 10px 0;
}

.button {
    height: 50px;
    width: 100%;
    cursor: pointer;
    border: 1px solid #c4c4c4;
    background: #c4c4c4;
    transition: all 0.2s ease-in-out;
    outline: none;
    font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button:hover {
    background: transparent;
}

.mode-select-button {
    width: 50%;
}

.jouer-button {
    background-color: #0CE886;
    border: solid 1px #0CE886;
    color: #f5f5f5;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}

.jouer-button:hover {
    background-color: #ffffff;
    color: #0CE886;
}

.leaderboard-button {
    background-color: #2e2e2e;
    border: solid 1px #2e2e2e;
    color: #f5f5f5;
    font-weight: 700;
}

.leaderboard-button:hover {
    background-color: #ffffff;
    border: solid 1px #2e2e2e;
    color: #2e2e2e;
}

/***
    Leaderboard
***/
.leaderboard-list {
    margin-bottom: 20px;
}

.leaderboard-list li {
    display: flex;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #C5C5C5;
}

.leaderboard-list li:nth-child(even) {
    background-color: #c4c4c4;
}

.leaderboard-list li:nth-child(odd) {
    background-color: #d5d5d5;
}

.leaderboard-list li::before {
    counter-increment: position-list;
    content: "#" counter(position-list);
    width: 30px;
    margin-right: 10px;
    margin-left: 5px;
    text-align: right;
}

.leaderboard-list li span {
    width: 50%;
}

.leaderboard-list li .timer{
    text-align: right;
    padding-right: 10px;
}

/***
    Game
***/
.game-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.solo-timer,
.duo-timer {
    margin: 20px 0;
    text-align: center;
}

.duo-timer {
    display: flex;
    justify-content: space-between;
}

.cards-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards-list li {
    cursor: pointer;
    min-width: 200px;
    height: 280px;
    list-style: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

.cards-list .face-down {
    background: url('https://www.mikeshan.fr/ecv/react/sprite.jpg');
    border: 1px solid #2e2e2e;
}

.cards-list img {
    width: auto;
    height: 100%;
}

.cards-list .found {
    background: transparent;
}

.result-wrapper {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    text-align: center;
}

.result-wrapper h2 {
    margin-bottom: 20px;
}

.result-wrapper .button {
    margin-top: 20px;
    width: 50%;
}